/* @import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&family=Roboto+Mono:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Quicksand:wght@300..700&display=swap');

/*  Google Fonts
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Roboto Mono', monospace;
*/

#app > div.v-application--wrap > div:nth-child(2) > header > div > div.v-toolbar__title.text-no-wrap.ml-0.pl-2.mr-2 {
  /* font-family: 'Maven Pro', sans-serif !important; */
  font-family: "Quicksand", sans-serif;
  font-size: 1.5em;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.subheading {
  /* font-family: 'Maven Pro', sans-serif !important; */
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}